<div class="col-md-4 col-xl-4 search">
    <form  #ResearchForm>
        <div class="col-auto">
            <label for="city" class="form-label">Rechercher un restaurant</label>
        </div>

        <div class="input-group rounded">
            <input type="text" (keyup)="recupererVille($event)" [formControl]="city" id="city" name="city" class="form-control rounded" placeholder="Entrez le nom de la ville" />
            <button  (click)="restaurantList($event)"   class="input-group-text border-0">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        @if (city.invalid && (city.dirty || city.touched)) {
            <div class="error">Renseigner la ville</div>
        }
    </form>
    
    <div class="listVille" *ngIf="cities"  #cityAdress >
        <div class="listElement"  *ngFor="let ville of cities"  (click)="onSelected(ville.display_name)" ><a href="#">{{ ville.display_name }}</a>
        </div>
    </div>
    <!-- <div class="listVille" *ngIf="cities$ | async"  #cityAdress >
        <div class="listElement"  *ngFor="let ville of cities$ | async"  (click)="onSelected(ville.display_name)" ><a href="#">{{ ville.display_name }}</a>
        </div>
    </div> -->

    <!-- <ul class="dropdown-menu" *ngIf="cities$ | async"  #cityAdress >
        <li *ngFor="let ville of cities$ | async"  (click)="onSelected(ville.display_name)" ><a class="dropdown-item" href="#">{{ ville.display_name }}</a></li>
    </ul> -->



</div>

